<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение сброса пароля</title>
</head>
<body>
    <h1>Подтвердите новый пароль</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="uid" value="{{ uid }}" />
        <input type="hidden" name="token" value="{{ token }}" />
        <label for="new_password1">Новый пароль:</label>
        <input type="password" name="new_password1" id="id_new_password1" required/>
        <br>
        <label for="new_password2">Повторите новый пароль:</label>
        <input type="password" name="new_password2" id="id_new_password2" required/>
        <br>
        <button type="submit">Изменить пароль</button>
    </form>
</body>
</html>
