{% extends "base.html" %}

{% block title %}
Добавление судьи
{% endblock %}

{% block content %}
<div class="features">
    <h1> Добавление судьи для отслеживания расписания</h1></b>
    <h3> {{ message }} </h3>
    <div class="add_judge">
    <form method="post">

    {% csrf_token %} <br>
    {{ form.arbitration_court }} <br> <br>
     {{ form.name }} <br>
     {{ form.day_name }} <br> <br>
        {{ form.cabinet }} <br>
    <input type="submit" class="btn btn-success" value="Добавить">
    </form>
    </div>
</div>


{% endblock %}