{% extends "base.html" %}

{% block title %}
Расписание на сегодня
{% endblock %}

{% block content %}

{% load static %}
{% if judges %}
        <h2>Расписание судей на {{ today }} </h2>
        <h3> Выбирайте судью: </h3>
    {% for judge in judges %}

        <ul class="hammer-list"> <a href="{{ judge.url }}"><li></i>{{ judge }}
        </li></a> </ul>
    {% endfor %}
{% else %}
       <h3> Сегодня {{ today }} все Ваши судьи отдыхают 🙈  <br> <br>
           </h3>
        <div class="image-container-ac">
        <img src="{% static 'shedule/media/AC_end.png' %}"
             alt="AC_end"> <br>
        </div>
               <h4> <em>  p.s. Вам тоже лучше сегодня отдохнуть </em>
           </h4>
            {% endif %}
{% endblock %}